
  services:
    php:
      build:
        context: .
        dockerfile: Dockerfile
        network: host
      volumes:
        - .:/var/www/html:rw
      environment:
        DATABASE_URL="mysql://diskfield:password@127.0.0.1:3306/diskfield_dev?serverVersion=mariadb-10.11&charset=utf8mb4"
    database:
      image: mariadb:10.11
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: diskfield
        MYSQL_USER: diskfield
        MYSQL_PASSWORD: password
      volumes:
        - database_data:/var/lib/mysql:rw

    # It is recommended to add a web server
    caddy:
      image: caddy:2-alpine
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./public:/var/www/html/public:ro
        - ./Caddyfile:/etc/caddy/Caddyfile
      depends_on:
        - php

  volumes:
    database_data:
