{% extends 'base.html.twig' %}

{% block title %}Tooling · diskfield.nl{% endblock %}

{% block body %}
<article class="prose">
    <h1 class="page-title">Tooling</h1>
    <div>
        <p class="lead">
            A non-exhaustive overview of tools I actually use and am
            comfortable recommending.
        </p>

        <section>
            <h2>Development</h2>
            <ul>
                <li>PhpStorm (Symfony)</li>
                <li>MySQL</li>
                <li>Docker</li>
            </ul>
        </section>

        <section>
            <h2>Systems</h2>
            <ul>
                <li>Linux (primarily Arch & Debian-based)</li>
                <li>Nginx / Apache</li>
                <li>Grub</li>
            </ul>
        </section>

        <section>
            <h2>Other</h2>
            <ul>
                <li>Tabletop RPG tooling</li>
                <li>Audio production tools</li>
                <li>The sad excuse of a NAS that I own</li>
            </ul>
        </section>

        <section>
            <p>
                Some of you might have strong opinions and disagree with my system and IDE of choice for technical work.
            </p>
            <p>
                You're probably right, too.
            </p>
        </section>
    </div>
</article>
{% endblock %}
